// Wifi config
char *wifi_ssid      = "SSID";
char *wifi_password  = "password";
char *mqtt_server    = "iot.eclipse.org";
int  mqtt_port       = 1883;

char *mqtt_client_id = "mqtt-ccs811-0001";
bool mqtt_use_auth   = false;
char *mqtt_username  = "username";
char *mqtt_password  = "password";

char *mqtt_publish_topic = "test/sensor/ccs811";
